[submodule "externalTools/chips"]
	path = externalTools/chips
	url = https://github.com/floooh/chips
[submodule "externalTools/spaghetti"]
	path = externalTools/spaghetti
	url = https://github.com/virtimus/spaghetti
[submodule "externalTools/sokol"]
	path = externalTools/sokol
	url = https://github.com/virtimus/sokol
